<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" value={{students[1]}} name="name"><br><br>
        <label for="age">Age</label>
        <input type="number" id="age" value={{students[2]}} name="age"><br><br>
        <label for="rollno">Roll_no</label>
        <input type="number" id="rollno" value={{students[3]}} name="rollno"><br><br>
        <label for="marks1">Marks1</label>
        <input type="text" id="marks1"  value={{students[4]}} name="marks1"><br><br>
        <label for="marks2">Marks2</label>
        <input type="text" id="marks2" value={{students[5]}} name="marks2"><br><br>
        <label for="marks3">Marks3</label>
        <input type="text" id="marks3" value={{students[6]}}  name="marks3"><br><br>
        <label for="marks4">Marks4</label>
        <input type="text" id="marks4" value={{students[7]}} name="marks4"><br><br>
        <label for="marks5">Marks5</label>
        <input type="text" id="marks5" value={{students[8]}} name="marks5"><br><br>

        <input type="submit" value="submit">


        
    </form>
</body>
</html>